# IntelliJ project files
.idea
*.iml
*.log
gen/
out/
pkg/
test/
build/
target/

# Binaries for programs and plugins
*.exe
*.exe~
*.out
*.dll
*.lib
*.so
*.a
*.dylib

# Test binary, build with `go test -c`
*.test

# vscode
.vscode/
__debug_bin

# web-shell
static_gen.go

# min static file
*.js
*.css
!index.js

# tls file
*.srl
*.csr
*.crt
*.cet
*.key
*.pem
*.public