# IntelliJ project files
.idea
*.iml
*.log
gen/
out/
pkg/
test/
build/
target/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Golang mod
go.sum

# web-shell
static_gen.go

# min static file
xterm*
*.min.*

# winpty
*.zip
winpty/